@{
    ViewBag.Title = "Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p></p>
<p>Antonio Signorelli detto "Pare" , matr.306824</p>
<p>Francesca Stefano detta "Kekka" , matr.306826</p>