@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kekka & Toni's Society<br />
    Parma, PR 347 - 490 0042<br />
    <abbr title="Phone">Sede Legale:</abbr>
    ISOLE MAURITIUS
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Kekka@gmail.com">Kekka@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Toni@gmail.com">Toni@gmail.com</a>
</address>